{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}



    <form class="login" method="POST" action="{% url 'search' %}">{% csrf_token %}

        <input type="text" name="q">

        <input type="submit" value="szukaj"/>
    </form>
{% endblock %}