{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
<form class="login" method="POST" action="{% url 'register' %}" >{% csrf_token %}
    {% if ahtung %}
        <p class="warning">
        Podaj Poprawne dane</p>
    {% endif %}
    {{ form.as_p }}

    <input type="submit" value="zarejestruj"/>
</form>
{% endblock %}