{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <p>Dostępne operacje!:</p>
    {% for infr in information %}
        <p>{{ infr.link }} temat {{ infr.description }}</p>
    {% endfor %}
{% endblock %}